{% extends 'base.html.twig' %}

{% block body %}
    {% for pizza in pizzas %}
        {{ pizza.name }}
        <a href="{{ path('edit_pizza', {'id': pizza.id}) }}">Editar</a>
        <br>
    {% endfor %}
    <a href="{{ path('create_pizza') }}">Nueva Pizza</a>
    <a href="{{ path('create_ingredient') }}">Nuevo Ingrediente</a>
{% endblock body %}