{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        <button type="submit">Crear</button>
    {{ form_end(form) }}
{% endblock %}